@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

v-img {
    max-width: 100%;
}

.v-container {
    max-width: 1140px !important;
    padding-block: 0 !important;
}

.v-btn--variant-outlined {
    border-width: 2px !important;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

a {
    color: #222222;
    transition: 0.3s;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.v-slide-group .v-slide-group__content {
    justify-content: center !important;
}

.v-skeleton-loader .v-skeleton-loader__avatar,
.v-skeleton-loader .v-skeleton-loader__button,
.v-skeleton-loader .v-skeleton-loader__chip,
.v-skeleton-loader .v-skeleton-loader__divider,
.v-skeleton-loader .v-skeleton-loader__heading,
.v-skeleton-loader .v-skeleton-loader__image,
.v-skeleton-loader .v-skeleton-loader__ossein,
.v-skeleton-loader .v-skeleton-loader__text {
    margin: 8px;
}

.v-breadcrumbs-divider {
    display: flex !important;
    align-items: center !important;
}

.v-breadcrumbs-item--link:hover {
    color: #0dcaf0 !important;
    text-decoration: none !important;
}
